{% extends 'base.html.twig' %}

{% block header %}Dashboard{% endblock %}

{% block body %}

    {#Datatable with tasks#}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">All Tasks</h3>
        </div>
        {% dump(tasks) %}
        <!-- /.box-header -->
        <div class="box-body">
            <table id="tasks" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Due Date</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="" class="btn btn-success">Show</a></td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.priority.value }}</td>
                        <td>{{ task.status.value }}</td>
                        <td>{{ task.dueDate.date|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}